<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CharaChipGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CharaChipGen.Properties.Settings>
            <setting name="CharacterSize" serializeAs="String">
                <value>32,48</value>
            </setting>
            <setting name="FaceSize" serializeAs="String">
                <value>96,96</value>
            </setting>
            <setting name="IsRenderTwice" serializeAs="String">
                <value>False</value>
            </setting>
        </CharaChipGen.Properties.Settings>
    </userSettings>
</configuration>